version: "3.3"
services:
  correcteur:
    container_name: grammalecte
    build: ./backend/correcteur
    ports:
      - "8080:8080"

  connecteur:
    container_name: connecteur-sheets
    build: ./backend/correction-sheets
    ports:
      - "3030:3030"

  client:
    container_name: react_app
    build: ./front
    ports:
      - "3000:3000"
  
  nginx:
    container_name: nginx
    depends_on:
      - connecteur
      - correcteur
      - client
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./nginx
    ports:
      - "3050:80"