version: "3.3"
services:
  correcteur-dev:
    container_name: grammalecte-dev
    build: ./backend/correcteur
    ports:
      - "8080:8080"

  connecteur-dev:
    container_name: connecteur-sheets-dev
    build: ./backend/correction-sheets
    ports:
      - "3030:3030"

  client-dev:
    container_name: react_app-dev
    build: ./front
    ports:
      - "3000:3000"
  
  nginx-dev:
    container_name: nginx-dev
    depends_on:
      - connecteur
      - correcteur
      - client
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./nginx
    ports:
      - "3050:80"