.main-title {
    text-align: center;
    height: fit-content;
    font-size: x-large;
    margin: 0.3rem;
}

.app {
  display: flow;
  overflow-y: hidden;
  
}

#scroll_to_top {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 40px;
    cursor: pointer;
  }
  #scroll_to_top img {
    width: 50px;
  }