.main-title {
    text-align: center;
    height: fit-content;
    font-size: x-large;
    margin: 0.3rem;
}

.app {
  display: flow;
  overflow-y: hidden;
  
}

#retour-choix-lien-container {
  position: relative;
  background-color: white;
}