.scroll-content {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 518px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.correct-row-all-lines {
    list-style: none;
    margin: 0px;
}
