.zone-correction{
    text-align: center;
    display: flex;
}

.text-zone {
    text-align: center;
    padding: 6px;

}

.correction-modif-zone {
  width: 80%;
  height: auto;
  padding: 0px 0.5rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 0.9rem;
  resize: none;
}